<h1>Edit Post</h1>
<form action="/posts/<%= post.id%>?_method=PUT" method="POST">
    <div>
        <input type="text" placeholder="title" name="post[title]" value="<%=post.title %>">
    </div>
    <div>
        <input type="text" placeholder="price" name="post[price]" value="<%=post.price %>">
    </div>
    <div>
        <textarea placeholder="description" name="post[description]"><%=post.description%></textarea>
    </div>
    <div>
        <input type="text" placeholder="location" name="post[location]" value="<%=post.location %>">
    </div>
    <input type="submit">
</form>